

.categorie-movies {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;

    .row{
      display: flex;
        flex-wrap: wrap;

        .col-sm-6{
          @media (max-width:768px){
            
            width: 50%;
          }
        }
    }
    

      img{
        width: 100%;
        object-fit: cover;
        cursor: pointer;

        @media (max-width:768px){
          width: 100%;
        }
      }
    
  }
